* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header, section {
    display: flex;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

header nav ul li {
    display: inline;
    padding: 20px;
}

#profile {
   flex-direction: column;
   align-items: center;
}

#profile p {
    margin: 20px 0;
}

.section-left {
    justify-content: space-between;
}

.section-right {
    flex-direction: row-reverse;
    justify-content: space-between;
}

/* #about-me {
    
}

#my-work {
    
} */

#my-work ul li {
    display: inline;
}

#education, #contact {
    flex-wrap: wrap;
}

#education-body, #contact-body {
    justify-content: flex-end;
}

/* MEDIA QUERY FOR LARGER SCREENS*/
@media screen and (min-width: 980px) {
    section {
        margin: 0 260px;
    }
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    section {
        margin: 0 100px;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    section {
        margin: 0 10px;
    }
}

