* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.row {
    display: flex;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

header nav ul li {
    display: inline;
    padding: 20px;
}

#profile {
   flex-direction: column;
   align-items: center;
}

#profile p {
    margin: 20px 0;
}

#about-me {
    justify-content: space-between;
}

#my-work {
    flex-direction: row-reverse;
    justify-content: space-between;
}

#about-me p , #my-work p {
    text-align: left;
    padding: 10px;
}

#my-work ul li {
    display: inline;
}

#education-body, #contact-body {
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
}

#education-contact {
    display: flex;
    flex-wrap: wrap;
}

/* MEDIA QUERY FOR LARGER SCREENS*/
@media screen and (min-width: 979px) {
    .row {
        margin: 0 180px;
    }
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    .row {
        margin: 0 80px;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    .row {
        margin: 0 10px;
    }
}