:root {
    --primary-color: darkmagenta;
    --secondary-color: lightgreen;
    --tertiary-color: skyblue;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#profile img {
    width: 20%;
    height: 20%;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    background-color: var(--primary-color);
}

h1, h2 {
    color:var(--primary-color);
}

h1 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: lighter;
    font-size: 3em;
}

#profile p {
    font-size: 1em;
}

p, li {
    font-family: 'Times New Roman', Times, serif;
}

ul {
    list-style: none;
}

.row {
    display: flex;
    justify-content: center;
    padding: 20px;
    text-align: center;
    border: 20px;
    border-radius: 25px;
    background-color: var(--secondary-color);
    box-shadow: var(--tertiary-color) 0px 30px 60px -12px inset, var(--tertiary-color) 0px 18px 36px -18px inset;
}

.row:hover {
    background-color: var(--tertiary-color);
}

header nav ul li {
    display: inline;
    padding: 0 20px;
}

header nav ul li :hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

#profile {
   flex-direction: column;
   align-items: center;
}

#profile p {
    margin: 20px 0;
}

#about-me {
    justify-content: space-between;
}

#my-work {
    flex-direction: row-reverse;
    justify-content: space-between;
}

#about-me p , #my-work p {
    text-align: left;
    padding: 10px;
}

#my-work ul li {
    display: inline;
}

#my-work div {
    font-size: 1.5em;
}

.project-link :hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

#education-body, #contact-body {
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
}

#education-contact {
    display: flex;
    flex-wrap: wrap;
}

#github :hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/* MEDIA QUERY FOR LARGER SCREENS*/
@media screen and (min-width: 979px) {
    .row {
        margin: 0 180px;
    }
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    .row {
        margin: 0 80px;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    .row {
        margin: 0 10px;
    }
}