:root {
    --primary-color: #e73c7e;
    --secondary-color: rgb(221, 240, 221);
    --tertiary-color: rgb(167, 222, 209);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Acme', sans-serif;
}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
	        animation: gradient 15s ease infinite;
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

img {
    max-width: 70%;
    height: auto;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-weight: lighter;
    font-size: 4em;
}

#profile p {
    font-size: 3em;
    font-style: italic;
}

p, li {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 2em;
}

ul {
    list-style: none;
}

.row {
    display: flex;
    justify-content: center;
    padding: 20px;
    text-align: center;
    border: 20px;
    border-radius: 25px;
    box-shadow: var(--tertiary-color) 0px 30px 60px -12px inset, var(--tertiary-color) 0px 18px 36px -18px inset;
}

.row:hover {
    background-color: var(--tertiary-color);
}

#nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header nav ul li {
    display: inline;
    padding: 0 20px;
}

header nav ul li :hover {
    color: var(--secondary-color);
}

#profile {
   flex-direction: column;
   align-items: center;
}

#profile p {
    margin: 20px 0;
}

#about-me {
    justify-content: space-between;
}

#my-work {
    flex-direction: row-reverse;
    justify-content: space-between;
}

.project-div {
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
}

.project-explanation {
    display: flex;
    flex-wrap:wrap;
}

#about-me p , #my-work p {
    text-align: left;
    padding: 10px;
}

#my-work p {
    font-size: .7em;
}

.project-explanation {
    justify-content: center;
}

.project-link :hover {
    color: var(--secondary-color);
}

#education-body, #contact-body {
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
}

#education-contact {
    display: flex;
    flex-wrap: wrap;
}

#github :hover {
    color: var(--secondary-color);
}

/* MEDIA QUERY FOR LARGER SCREENS*/
@media screen and (min-width: 979px) {
    .row {
        margin: 20px 180px;
    }
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    .row {
        margin: 10px 80px;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    .row {
        margin: 10px 10px;
    }
}